.footer{
    background-color: black;
    border: black 1px solid;       
    @include flex-position;
    text-align: center;

    max-width: auto;


&_contact{
    margin: 8px 35px;
    @include font-open-sans(14px,normal,20px);
    color: $contact-color;
    @include flex-position;
    }

&_icon_box{
    margin: 26px;
}
}

.about-us_title{
    @include font-open-sans(14px, bold, 22px);
    text-transform: uppercase;
    color: #FEFEFE;    
    margin-top: 38px;
}

.about-us_text{
    margin: 8px 35px;
    @include font-open-sans(12px, normal, 20px);
    color: $contact-color;
}

@media (max-width: 325px){
    .footer{
        max-width: 320px;
    }
}